#title{
    text-align: center;
    color: #000;
    font-size: 30px;
    margin: 20px 0;
}
/* 居中 */
.main{
    width: 60%;
    height: 40%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 2px solid #fff;
    box-shadow: 0 0 10px #ffc1e2;
    background-image: url(../image/61169484_p0.png);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
}
.oss-title{
    text-align: center;
    color: #000;
    font-size: 20px;
    margin: 20px 0;
}
.oss-form{
    width: 80%;
    height: 80%;
    background-color: rgba(255,255,255,0.5);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 20px;
    margin: 30px auto;
    /* 隐藏超出部分 */
    overflow: hidden;
}
/* 表单样式 */
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
li{
    margin: 10px 0;
}
label{
    display: inline-block;
    width: 150px;
    text-align: right;
}
input{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0 10px;
}
input:focus{
    outline: none;
    border-color: #fd95d8;
}
.button{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0 10px;
    line-height: 30px;
    text-align: center;
    background-color: #fff;
    cursor: pointer;
}
.button:hover{
    background-color: #ccc;
}
.button:active{
    background-color: #999;
}
table{
    width: 100%;
    position: relative;
    z-index: 1000;
}
table td{
    padding: 5px;
}
