* {
    margin: 0;
    padding: 0;
}
#box {
    width: 300px;
    height: 30px;
    position: relative;
    z-index: 5000;
}
#select {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    color: #999999;
    /*background: white;*/
    padding: 0 10px;
    /* 小图标的大小 */
    background-size: 25px 25px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 10px 5px;
    display: flex;
    position: relative;
}
#select:hover {
    color: #333333;
}
#select>label>input[type="text"] {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
    font-size: 16px;
    color: #333;
    padding-left: 10px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}
#option {
    display: none;
    width: 100%;
    text-align: center;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 10px;
    cursor: pointer;
    padding: 0 10px;
    /*overflow: hidden;*/
}
#option li {
    list-style: none;
    line-height: 30px;
    border-radius: 5px;
    margin: 10px 0;
    /* 小图标的大小 */
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: 10px 5px;
    /*background-position: 98% center;*/
}
#option li:hover {
    background-color: #ccc;
}
.background-mask {
    background-color: #ffc1e2;
}
.s-icon {
    position: absolute;
    right: 10px;
    font-size: 25px;
    height: 100%;
}